<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agro Verse</title>
    <link rel="stylesheet" href="style/myhome.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Agro Verse</h1>
        <p>Agro Verse welcomes you to our website. We provide suggestions for crop cultivation based on soil nutrients. To get recommendations, you can test your soil in a lab.</p>
        <br>
        <h3>Let's Start a New Journey With Agro Verse</h3>
        <br>
        <h2>Click the button below for Crop Recommendations</h2>
        <form action="/Predict">
            <button type="submit" id="predictButton">Predict</button>
        </form>
    </main>
</body>
</html>
