<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Agro Verse</title>
    <link rel="stylesheet" href="{{url_for('static',filename='style/myhome.css')}}">
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <h1>Agro Verse</h1>
      <p style="color: black;">AgroVerse Welcomes you to our platform. We hope your farming endeavors are prosperous. We are here to provide valuable suggestions about your crop cultivation. We recommend the best crops for you to grow in your farm for optimal yields. It's straightforward to predict which crop you should cultivate based on your soil nutrients. You just need to be aware of your soil nutrients, and for this, you can test your soil in a lab</p>
      <br>
      <h3 style="color: black;">Farm the World with Machine Visions</h3>
      <br>
      <h2 style="color: black;">Click following button for Crop recommandation</h2>
    </main>
     <form action="/Predict">
      <input type="submit" id="Predict" name="Predict" action="/Predict" value="Predict">
     </form>
  </body>
</html>
